<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.serviceModel>
    <!--  
    WCF Service 的整體設定只能有一份，故定義在網站根目錄下的 web.config。
    此處只針對個別 WCF Service 作設定
    -->
    <services>
      <service name="WcfCascadingHelper">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="WcfCascadingHelper" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
