<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- TimeStamp 反查 URL (Mode2專用) 2015.05.06-->
    <add key="app://TimeStampChkURL/" value="http://eportal.test/SoFun/SO1003.aspx"/>
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>
