<?xml version="1.0" ?>
<appSettings>
  <!-- 為避免頻繁異動 web.config ，
       可將自訂應用系統所需的設定值存放在此處；其設定會自動與 web.config 整合 
       
	   例如：
       <add key="app://CfgApp01APIUrl/" value="~/XXX/API.aspx"/> 
       
  -->
  <!--<add key="eHRMSDB" value="eHRMSDB_ITRD"/>-->
  <add key="app://EmpPhoto/" value="http://10.11.36.114:8082/Upload/Photo"/>
  <add key="app://eHRMSDB_OverTime/" value="eHRMSDB_ITRD"/>
  <add key="app://HRDB_OverTime/" value="HRDB_ITRD"/>
  <add key="app://AattendantDB_OverTime/" value="AattendantDB_ITRD"/>
  <add key="app://SMSDB_Notice/" value="SMSDB"/>
  <!--<add key="app://DB_Share_OverTime/" value="AattendantDB_ITRD"/>-->
  <add key="app://DB_Share_OverTime/" value="DB_Share"/>
</appSettings>
