<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- 
		將資料庫連線設定從 web.config 中抽出
		connectionString 字串內容，系統會自動判斷為[密文]或[明文]
	-->
    <!-- 組織資料來源 -->
    <add name="DB_EPSys"        connectionString="server=10.11.22.35;database=DB_EPSys;uid=105384;pwd=105384"      providerName="System.Data.SqlClient"/>
    <!-- 代理人資料來源 -->
    <add name="DB_Share"    connectionString="server=10.11.36.114;database=AattendantDB_ITRD;uid=AattendantUser;pwd=123456"   providerName="System.Data.SqlClient"/>
    <!--<add name="DB_Share"    connectionString="server=10.11.42.111;database=DB_Share;uid=AattendantUser;pwd=123456"   providerName="System.Data.SqlClient"/>-->
    <!--<add name="DB_Share"    connectionString="server=10.11.42.111;database=DB_Share;uid=VACUser;pwd=vacuser"      providerName="System.Data.SqlClient""/>-->
	<!-- 流程定義   -->
    <!--<add name="FlowExpress"     connectionString="server=10.11.22.38;database=FlowExpress;uid=sa;pwd=1111"      providerName="System.Data.SqlClient"/>-->
    <add name="FlowExpress"     connectionString="server=10.11.36.114;database=FlowExpress;uid=AattendantUser;pwd=123456"      providerName="System.Data.SqlClient"/>
    <!-- ACL 資料庫 -->
    <add name="AclExpress"      connectionString="server=10.11.22.38;database=AclExpress;uid=sa;pwd=1111"       providerName="System.Data.SqlClient"/>
    <add name="AclExpressLog"   connectionString="server=10.11.22.38;database=AclExpressLog;uid=sa;pwd=1111"    providerName="System.Data.SqlClient"/>
    <!-- 範例資料庫 -->
    <add name="NetSample"       connectionString="server=10.11.22.38;database=NetSample;uid=sa;pwd=1111"        providerName="System.Data.SqlClient"/>
    
    <add name="eHRMSDB"       connectionString="server=10.11.36.114;database=eHRMSDB;uid=AP_HRMS;pwd=ap_hrms"   providerName="System.Data.SqlClient"/>
    <add name="AattendantDB"  connectionString="server=10.11.36.114;database=AattendantDB_ITRD;uid=AattendantUser;pwd=123456"   providerName="System.Data.SqlClient"/>
<!--====================================-->
    <!--<add name="eHRMSDB_ITRD"       connectionString="server=10.11.36.114;database=eHRMSDB_ITRD;uid=AP_HRMS;pwd=ap_hrms"   providerName="System.Data.SqlClient"/>-->
    <add name="AattendantDB_ITRD"  connectionString="server=10.11.36.114;database=AattendantDB_ITRD;uid=AattendantUser;pwd=123456"   providerName="System.Data.SqlClient"/>
   <!-- <add name="DB_VacSys"     connectionString="server=10.11.22.35;database=VacSys;uid=105384;pwd=105384"   providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
