<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- 將資料庫連線組態定義，搬移到 DB.config -->
  </connectionStrings>
  <appSettings file="App.config">
    <!--
          開發人員若需自訂應用系統專用的[appSettings]組態，請在 [App.config] 內定義 2015.11.09
        -->
    <!--自訂 MetaTag ，利用 BasePage() 自動在每頁檔頭加入(若值為[空白]則會略過) 2014.09.12-->
    <add key="app://MetaTags/" value="p3p,X-UA-Compatible"/>
    <!--p3p Policy-->
    <add key="app://p3p/" value="CP=&quot;NOI ADM DEV COM NAV OUR&quot;"/>
    <!--IE 相容性，就算設了相容性檢視，[文件模式]還是採用最高版本-->
    <add key="app://X-UA-Compatible/" value="IE=edge"/>
    <!--系統名稱-->
    <add key="app://ApplicationName/" value="NetAP"/>
    <!--預設首頁-->
    <add key="app://HomeURL/" value="~/Default.aspx"/>
    <!--人員正常狀態代號-->
    <add key="app://UserStatusValidList/" value="1,Y"/>
    <!--系統管理員帳號-->
    <add key="app://AdminUserID/" value="APCERT"/>
    <!--系統預設連結 DB-->
    <add key="app://CfgDefConnDB/" value="DB_EPSys"/>
    <!--系統頁面樣式 若未定義則為 [Site.css 及 Util.css] 2016.07.07-->
    <add key="app://CfgSiteCSS/" value="~/Util/WebClient/CloudSite.css"/>
    <add key="app://CfgUtilCSS/" value="~/Util/WebClient/CloudUtil.css"/>
    <!--Cust64 Seed-->
    <add key="app://CfgCust64Seed/" value="1QRSTU2789EFCDIPefglmnVWXpqrstuvwxYZhijkabGHABcdoyz3456JKL+/MNO0="/>
    <!--彈出視窗參數-->
    <add key="app://CfgPopupSpecs/" value="width=800,height=600,top=10,left=10,status=yes,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes"/>
    <!--發信相關設定-->
    <!--發信主機IP為 [空白] 時，不會真的發送-->
    <add key="app://CfgSmtpServer/" value=""/>
    <!--   <add key="app://CfgSmtpServer/"    value="10.240.12.20" />   -->
    <add key="app://CfgMailFromAddr/" value="oasys@sinopac.com"/>
    <add key="app://CfgMailFromName/" value="EIP系統郵件"/>
    <!--OrgInfo  類別專用設定-->
    <!--<add key="app://CfgOrgInfoDB/" value="DB_EPSys"/>-->
    <add key="app://CfgOrgInfoDB/" value="eHRMSDB"/>
    <!--組織基本資料 2016.09.06 改用 [NetAP_] 打頭的 view -->
    <add key="app://CfgOrgInfoSource/" value="viewCompDeptOrg"/>
    <!--<add key="app://CfgOrgInfoSource/" value="NetAP_viewCompDeptOrg"/>-->
    <!--組織自訂屬性-->
    <!--若無[app://CfgOrgPropertyDB/] 則自動參考 [app://CfgOrgInfoDB/] -->
    <add key="app://CfgOrgPropertyDB/" value="DB_EPSys"/>
    <add key="app://CfgOrgPropertySource/" value="SE_Property"/>
    <!--UserInfo 類別專用設定-->
    <add key="app://CfgUserInfoDB/" value="eHRMSDB"/>
    <!--<add key="app://CfgUserInfoDB/" value="DB_EPSys"/>-->
    <!--員工基本資料 2016.09.06 改用 [NetAP_] 打頭的 view -->
    <!--<add key="app://CfgUserInfoSource/" value="NetAP_viewCompDeptOrgUser"/>-->
    <add key="app://CfgUserInfoSource/" value="viewCompDeptOrgUser"/>
    <!--員工兼職資料 2016.09.06 改用 [NetAP_] 打頭的 view -->
    <!--若無[app://CfgUserInfoPartSource/] 或 value 為[空白] 則自動忽略 -->
    <!--兼職來源，若無此設定 或 value 為[空白] 則自動忽略 2015.04.28 -->
    <add key="app://CfgUserInfoPartSource/" value="viewCompDeptOrgPartUser"/>
    <!--<add key="app://CfgUserInfoPartSource/" value="NetAP_viewCompDeptOrgPartUser" />-->
    <!--員工自訂屬性-->
    <!--若無[app://CfgUserPropertyDB/] 則自動參考 [app://CfgUserInfoDB/] -->
    <add key="app://CfgUserPropertyDB/" value="DB_EPSys"/>
    <add key="app://CfgUserPropertySource/" value="SE_Property"/>
    <!--員工代理資料-->
    <add key="app://CfgUserInfoProxyDB/" value="eHRMSDB"/>
    <!--<add key="app://CfgUserInfoProxyDB/" value="DB_UserProxy" />-->
    <!--代理資料SQL 格式：{0}：目前登入員編，{1}：Full/Semi，{2}：YYYYMMDD 
        　　*此SQL取出的第一個欄位即所要代理/助理的員編
          　*此SQL取出的資料表會存放在 UserInfo 物件的 ProxyInfoTable 屬性-->
    <add key="app://CfgUserInfoProxySQL/" value="Select OCID,ProxyType,ProxyReason,ProxyStartDate,ProxyEndDate,ProxyList,ProxyCompID,ProxyDeptID from OCProxy Where ProxyList = '{0}' and ProxyType = '{1}' and  ('{2}' BETWEEN ProxyStartDate AND ProxyEndDate)"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!--設定 Cookies 安全性 2016.09.21-->
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true"/>
    <!--使用 StateServer ，避免 Session 意外丟失 (需啟動 ASP.NET 狀態服務)-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="30"/>
    <!--設定 machineKey ，避免多台伺服器組成 Web Farm 時，造成ViewState MAC驗證失敗 -->
    <machineKey validationKey="9728E34AB95B8ED128C6F9864A6B7915CAC3C95625E56CA7346E55B9EA062615C35262DFDF3BC92DBC89D36236DAF224CC38C9575ADD3297D56C6F7F6F252C42" decryptionKey="C81A0121E8459095AAB142F29AD59B7C7FE22A0D78811296" validation="SHA1" decryption="AES"/>
    <!--允許傳輸最大 100 MB 的資料，使用自訂的 RequestValidator-->
    <httpRuntime maxUrlLength="1024" maxQueryStringLength="2048" maxRequestLength="102400" executionTimeout="300" requestValidationType="SinoPac.WebExpress.Common.CustRequestValidator"/>
    <!-- 開發期間才將 compilation debug 設定為 true-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--MS-Report-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--Web API-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" pageParserFilterType="" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <anonymousIdentification enabled="true"/>
    <authentication mode="Forms">
      <!-- 設定表單驗證模式相關屬性，當系統偵測到目前是[本機開發]時，會自動改變行為模式 -->
      <forms cookieless="UseCookies" defaultUrl="Default.aspx" domain="" enableCrossAppRedirects="false" loginUrl="Default.aspx" name="Auth" path="/" requireSSL="false" slidingExpiration="true" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/ErrorPage.aspx"/>
    <!-- httpHandlers/httpModules for IIS5/6 -->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <!-- For IIS7 Above -->
    <!-- 靜態內容快取，目前是設定七天 -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <!-- 防止頁面被嵌入 Frame  2016.09.21-->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN"/>-->
        <!-- 啟用 XSS 防護  2016.09.21-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!-- 預防 MIME Sniffing 2017.04.07-->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- p3p Policy  2014.09.12-->
        <add name="p3p" value="CP=&quot;NOI ADM DEV COM NAV OUR&quot;"/>
      </customHeaders>
    </httpProtocol>
    <!-- 兼顧 IIS 5/6/7/8...，當同時存在　httpHandlers/httpModules/handlers/modules 時，validateIntegratedModeConfiguration 需為 false -->
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- handlers/modules for IIS7 or later -->
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <!--MS-Report-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <!--Web API-->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <!-- WCF Service -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <!-- 個別 WCF Service 相關設定，請在該 WCF 所在目錄下設定 -->
    </services>
  </system.serviceModel>
  <!-- ELMAH 相關設定-->
  <elmah>
    <security allowRemoteAccess="true"/>
    <!--將 Error Log 記錄到 XML -->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/ErrorLog"/>
  </elmah>
  <location path="Util/ErrorLog.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="ErrorLog.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="ErrorLog.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
  <!-- Web API 路徑 -->
  <location path="Api">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 設定組件版本導向 -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>