<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
